{% extends "layout.html" %}

{% block title %}
Todo Edit
{% endblock %}

{% block content %}
<h2>Edit Task</h2>

<form method="post" enctype="multipart/form-data" class="form">
  {% csrf_token %}
  <div class="form-group">
    {{ form.as_p }}  <!-- This renders the form fields, you can customize it further if needed -->
  </div>
  <button class="btn btn-warning" type="submit">Submit</button>
</form>

<a href="{% url 'main' %}" class="btn btn-secondary">Back to task list</a>
{% endblock %}
